


//-  Any mixin (function) used on other pages
//-  like home.pug
include ../mixins/mixins

doctype html
html(lang="en")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
      link(rel="stylesheet", href="/css/main.css")
      title #{pageTitle}
    body
        .wrapper
            .row
                nav.col-2
                    a.blue(href="/")
                      .fa.fa-twitter
                    a(href="/")
                      .fa.fa-home
                    a(href="/saerch")
                      .fa.fa-search
                    a(href="/notifications")
                      .fa.fa-bell
                    a(href="/messages")
                      .fa.fa-envelope
                    a(href="/profile")
                      .fa.fa-user
                    a(href="/logout")
                      .fa.fa-sign-out
                    //- up until medium screen size expand as 10
                    //- Once medium screen size is reached expand
                    //-  as 8 to account for third column
                .mainSectionContainer.col-10.col-md-8.col-lg-6
                    .titleContainer
                        h1 #{pageTitle}

                    //- block content is where we inject other pages
                    //- Houses page specific content (e.g., on main page this includes
                    //- )
                    block content

                .d-none.d-md-block.col-md-2.col-lg-4
                    //- span third column
    script(src='https://use.fontawesome.com/c4f386617c.js')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')


    //- Houses page specific scripts
    block scripts

    script(src='/js/common.js')

