//- extends means take the content inside
//- the block content here and insert it
//- in the file that is being extended here
//- (e.g., here main-layout.pug)
extends layouts/main-layout.pug
//- Any page that extends another template file
//- needs block content to render contents
//- (rendering html alone) will not work

//- What the following line of code mans is "take the below block and put it in
//- template that is being extended (here, main-layout)".
//- Essentially, the content block in main-layout will be replaced by
//- the contents of the block here
//- call createPostForm mixin (mixins are imported into main-layout)
//- which is imported here
//- createPostForm comes from mixins.pug
block content
    +createPostForm(userLoggedIn)
    .postsContainer

block scripts
    script(src="/js/home.js")

