:root {
  --twitter-blue: #1fa2f1;
  --button-hover-bg: #d4edff;
  --light-blue:#9BD1F9;
  --light-grey: rgb(230, 236, 240);
  --spacing: 50px;
  --grey-text:rgb(101, 119, 134);
  --grey-btn-text:rgba(0, 0, 0, 0.34)
}

* {
  outline: transparent !important;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

nav a {
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212529;
}

nav a.blue {
  color: var(--twitter-blue);
}

nav a:hover {
  background-color: var(--button-hover-bg);
  color: var(--twitter-blue);
  border-radius: 50%;
}

.mainSectionContainer {
  padding: 0;
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--light-grey);
  /* Safari fix */
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid rgba(230, 236, 240);
  flex-shrink: 0;
}

/* Set dimensions on image container */
.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  /* Image takes up 50px and textarea container takes all the rest */
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

#submitPostButton {
  background-color:var(--twitter-blue);
  color: white;
  border: none;
  border-radius:40px;
  padding: 7px 15px;

}

#submitPostButton:disabled {
  background-color:var(--light-blue);
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--light-grey);
    flex-shrink: 0;
}

button {
    background-color: transparent;
    border: none;
    color: var(--grey-btn-text);
}


.mainContentContainer {
    flex: 1;
    display: flex;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.username,
.date {
    color: var(--grey-text)
}

.displayName {
    font-weight: bold;
}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter .postButtonContainer {
    flex: 1;
    display: flex;
}

.postFooter .postButtonContainer button {
    padding: 2px 5px;
}

.header a:hover {
    text-decoration: underline;
}

.header a,
.header span {
    padding-right: 5px;
}

.postButtonContainer button:hover {
    background-color: #d4edff;
    color: var(--twitter-blue);
    border-radius: 50%;
}
